@import "common.scss";
@import "_mixin.scss";
.mui-inner-wrap {
    @include box_flex;
    @include direction(column);
	.box{
		height: pxTorem(100px);
		line-height: pxTorem(100px);
		text-align: center;
		width: pxTorem(100px);
		border-radius: 100%;
		background: yellow;
		font-size: pxTorem(50px);
		color: #fff;
		position: absolute;
		left: 50%;
		bottom: pxTorem(45px);
		margin-left: pxTorem(-50px);
		z-index: 999;
	}
    header {
        height: pxTorem(129px);
        width: 100%;
        background: yellow;
        font-size: pxTorem(16px);
    }
    .header-top {
        height: pxTorem(44px);
        width: 100%;
        @include box_flex;
        @include justify(space-between);
        @include align;
        padding: 0 pxTorem(10px);
        @include sizing;
        .selectType {
            display: inline-block;
            ;
            height: pxTorem(30px);
            line-height: pxTorem(30px);
            text-align: center;
            width: pxTorem(50px);
            border: 1px solid #000;
            border-radius: pxTorem(10px);
        }
        .selectDate {
            display: inline-block;
            ;
            height: pxTorem(30px);
            line-height: pxTorem(30px);
            text-align: center;
            width: pxTorem(80px);
            border: 1px solid #000;
            border-radius: pxTorem(10px);
        }
    }
    .header-center {
        font-size: pxTorem(28px);
    }
    .header-bottom {
        height: pxTorem(44px);
        width: 100%;
        line-height: pxTorem(44px);
        @include box_flex;
        @include justify(space-between);
        @include align;
        padding: 0 pxTorem(10px);
        @include sizing;
    }
    
}
.mui-tab{
	@include box_flex;
	height: pxTorem(44px);
	@include justify(space-between);
	@include align;
	padding:  0 pxTorem(15px);
	>div{
		height: pxTorem(30px);
		width: pxTorem(120px);
		border: 1px solid #ccc;
		@include box_flex;
		border-radius: pxTorem(10px);
		overflow: hidden;
		>span{
			@include flex;
			font-size: pxTorem(16px);
			text-align: center;
			line-height: pxTorem(30px);
		}
		>span.active{
			background: yellow;
		}
	}
}

.mui-content{
	@include flex;
	font-size: pxTorem(16px);
	width: 100%;
	>div{
		height: 100%;
		width: 100%;
	}
	.none{
		display: none;
	}
	.mui-table-view-cell>.mui-navigate-right{
		@include box_flex;
		
	}
	.mui-tabel-header-right{
		@include box_flex;
		@include flex;
		>dl{
			@include box_flex;
			@include direction (column);
			@include flex;
			@include align;
			@include justify;
		}
		>dl.pay{
			color: red;
		}
		>dl.income{
			color: #2AC845;
		}
	}
	.mui-collapse-list {
	        @include box_flex;
	        @include justify(space-between);
	        @include align;
	        >div {
	            @include flex;
	            margin-left: pxTorem(10px);
	            >div {
	                font-size: pxTorem(16px);
	                font-weight: bolder;
	                margin-bottom: pxTorem(10px);
	            }
	        }
	        >span:nth-child(3) {
	            color: red;
	        }
	}
	.mui-collapse-active {
		>span:nth-child(3) {
			color: green;
		}
	}
	.mui-month{
		display: none;
		.mui-month-title{
			height: pxTorem(44px);
			width: 100%;
			@include box_flex;
			@include justify(space-between);
			@include align;
			padding: 0 pxTorem(10px);
			@include sizing;
		}
		.mui-month-slider{
			@include box_flex;
			@include justify(space-between);
			@include align;
		}
		.mui-month-pay{
			color: red;
		}
		.mui-month-income{
			color: green;
		}
	}
}